/* --> @Customization of Properties Here <-- */

/* --> A Variable Usable Technique */

/*-----------------------------------*\
       #GLOBAL STYLES & RESET
\*-----------------------------------*/

:root {
    /* --> Changeable All <-- */

    /* Colors */

    --blue-001: #3f4484;
    --white-color: #ffffff;
    --yellow-002: #E4C312;
    --darkish-003: #564E3A;
    --grayish-004: #585656;

    
    /* Fonts */

    --font-primary: 'Heebo', sans-serif;
    --font-island-moments: 'Island Moments', cursive, sans-serif;;
    --font-poppins: 'Poppins', sans-serif;
    --font-lexend: 'Lexend', sans-serif;
    --font-berkshire-swash: 'Berkshire Swash', cursive, sans-serif;;
    --font-kalnia: 'Kalnia', sans-serif;

    /* Sizes */

    --fs-logo: 2.4rem;
    --fs-nav: 1.8rem;
    --fs-btn: 1.1rem;

    /* Border Radius */

    --radius-6: 15px;

    /* Spacing */

    --section-padding: 45px;

    /* Transition */

    --transition-1: 0.3s ease;

}


/* --> Global Reset <-- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white-color); /* Sheesh, mala-professional yarn */
    font-size: 1.6rem;
}

html {
    font-family: var(--ff-heebo);
    font-size: 10px;
    scroll-behavior: smooth;
}

button { cursor: pointer; }
a  { text-decoration: none; }
li { list-style: none; }

button {
    border: none;
    background: none;
    font: inherit;
}

a,
button,
ion-icon { display: block; }

:focus-visible { outline-offset: 5px; } /* --> Accessibility for Keyboards Addicts < -- */




/*-----------------------------------*\
           #REUSABILITY
\*-----------------------------------*/



.btn {
    background: var(--background, var(--yellow-002));
    color: var(--color, var(--white-color));
    font-family: var(--font-berkshire-swash);
    font-weight: 700;
    padding: 10px 25px;
    border: 2px solid var(--border-color, var(--yellow-002));
    border-radius: var(--radius-6);
}

.btn-secondary:is(:hover, :focus) {
    --background: transparent;
    --color: var(--white-color);
    border: 2px solid var(--white-color);
    transition: var(--background) 0.3s ease;
}

.btn-primary:is(:hover, :focus){
    background-color: var(--white-color);
    color: var(--yellow-002);
}

.btn-outline {
  color: var(--darkish-003);
  border: 2px solid var(--border-color, var(--darkish-003));
  font-family: var(--font-berkshire-swash);
  font-weight: 700;
  padding: 10px 25px;
  border-radius: var(--radius-6);
  background-color: var(--white-color);

}

.btn-duo {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}



/*-----------------------------------*\
              #HEADER
\*-----------------------------------*/


.header {
    background: var(--blue-001);
    padding: 1.5rem 0;
    transition: 0.25s cubic-bezier(0.33, 0.85, 0.56, 1.02);
    position: relative;
    z-index: 1000;
  }
   
  .header.active {
    height: 425px;
    transition-duration: 0.35s;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-svg {
    width: 50px;
  }
  
  .logo-text {
    color: var(--white-color);
    font-size: var(--fs-logo);
    font-family: var(--font-berkshire-swash);
    font-weight: 600;
    margin: 0;
  }
  
  .navbar {
    padding: 10px 10px;
    transition: var(--transition-1);
  }
  
  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 0;
    font-family: var(--font-kalnia);
  }
  
  .navbar-link {
    color: var(--white-color);
    font-size: var(--fs-nav);
    font-weight: 500px;
    padding-block: 10px 0;
    border-bottom: 2px solid transparent;
    width: max-content;
  }
  
  .navbar-link:is(:hover, :focus) {
    border-color: var(--yellow-002);
  }

  .nav-toggle-btn {
    color: var(--yellow-002);
  }
  
  .nav-toggle-btn .open {
    display: none;
  }
  
  .nav-toggle-btn .close {
    display: none;
  }
  
  .nav-toggle-btn .open {
    display: block;
    font-size: 30px;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

/*-----------------------------------*\
            #LANDING PAGE
\*-----------------------------------*/

.sec_hero {
  background-color: var(--white-color);
  padding-block: var(--section-padding);
}

.sec_hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero-content {
  text-align: center;
}

.hero-subtitle {
  color: var(--yellow-002);
  font-size: 5.5rem;
  font-weight: 600;
  font-family: var(--font-island-moments);
  margin-bottom: 5px;
}

.hero-title {
  color: var(--darkish-003);
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-description {
  color: var(--grayish-004);
  font-family: var(--font-poppins);
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 25px;
  text-align: justify;
  text-align-last: left;
}

.hero-figure {
  max-width: 100%;
}

.hero-view {
  width: 100%;
  height: auto;
  max-width: 500px;
}


/*-----------------------------------*\
              #GALLERY
\*-----------------------------------*/

.sec-gallery .container-gallery-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-container-main img {
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  padding: 35px 45px;
}




/*-----------------------------------*\
              #POPULAR
\*-----------------------------------*/




/*-----------------------------------*\
              #ABOUT ME
\*-----------------------------------*/




/*-----------------------------------*\
              #ABOUT ME
\*-----------------------------------*/





/*-----------------------------------*\
           #RESPONSIVENESS
\*-----------------------------------*/



/* --> ***************** <-- */

@media (min-width: 768px) {

  .sec_hero .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .hero-content {
    flex: 1;
    text-align: left;
    margin-bottom: 0;
  }

  .hero-figure {
    flex: 1;
  }

  .btn-duo {
    justify-content: flex-start;
    align-items: center;
  }

  
}


@media (max-width: 1070px) {

    
    .navbar {
        display: none;
    }
  
    .header-actions {
        display: none;
    }
  
    .nav-toggle-btn .open {
        display: block;
        font-size: 30px;
    }
  }
  
  @media (min-width: 1070px) {

    .nav-toggle-btn {
        display: none;
    }

  }




/* --> ***************** <-- */






/* --> ***************** <-- */









