/* --> @Customization of Properties Here <-- */

/* --> A Variable Usable Technique */

:root {
    /* Temporary All */
    --primary-color: hsl(180, 98%, 31%);
    --font-primary: 'Heebo', san-serif;
    --fs-1: 3.4rem; 
    --body-bg: hsl(0, 0, 98%);

}


/* --> Global Styles for now */

body {
    /* Temporary ALl */
    background: var(--body-bg); /* Sheesh, mala-professional yarn */
    font-family: var(--font-primary);
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    /* Temporary ALl */
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}