/* --> @Customization of Properties Here <-- */

/* --> A Variable Usable Technique */

/*-----------------------------------*\
       #GLOBAL STYLES & RESET
\*-----------------------------------*/

:root {
    /* --> Changeable All <-- */

    /* Colors */

    --blue-001: #3f4484;
    --white-color: #ffffff;

    
    /* Fonts */

    --font-primary: 'Heebo', san-serif;

    /* Sizes */

    --fs-logo: 2.4rem;
    --fs-nav: 1.6rem;
    --fs-btn: 1.1rem;

    /* Border Radius */

    --radius-6: 6px;

    /* Spacing */

    --section-padding: 15px;

    /* Transition */

    --transition-1: 0.3s ease;

}


/* --> Global Reset <-- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white-color); /* Sheesh, mala-professional yarn */
    font-size: 1.6rem;
}

html {
    font-family: var(--ff-heebo);
    font-size: 10px;
    scroll-behavior: smooth;
}

button { cursor: pointer; }
a  { text-decoration: none; }
li { list-style: none; }

button {
    border: none;
    background: none;
    font: inherit;
}

a,
button,
ion-icon { display: block; }

:focus-visible { outline-offset: 5px; } /* --> Accessibility for Keyboards Addicts < -- */





/*-----------------------------------*\
           #REUSABILITY
\*-----------------------------------*/



.btn {
    background: var(--background, var(--white-color));
    color: var(--color, var(--blue-001));
    font-weight: 700;
    padding: 10px 25px;
    border: 2px solid var(--border-color, var(--white-color));
    border-radius: var(--radius-6);
}

.btn-secondary:is(:hover, :focus) {
    --background: transparent;
    --color: var(--white-color);
}

.btn-primary:is(:hover, :focus){
    background-color: var(--btn-hover-color);
    color: var(--white-color);
}



/*-----------------------------------*\
              #HEADER
\*-----------------------------------*/


.header {
    background: var(--blue-001);
    transition: 0.25s cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

.header.active {
    height: 425px;
    transition-duration: 0.35s;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-svg {
    width: 50px;
}

.logo-text {
    color: var(--white-color);
    font-size: var(--fs-logo);
    font-weight: 600;
    margin: 0;
}


.navbar {
    transition: var(--transition-1);
}
li a {
    color: var(--white-color);

}
.navbar-list{
    display: flex;
    align-items:center;
    gap: 50px;
}




.nav-toggle-btn .open{
    display:none;
}
.nav-toggle-btn .close{
    display:none;
}

.navbar-link:is(:hover, :focus) { border-color: var(--white-color); }





/*-----------------------------------*\
           #RESPONSIVENESS
\*-----------------------------------*/



/* --> ***************** <-- */
@media(max-width:1070px)
{
    .navbar {
        display: none;
    }
    .btn{
        display:none
    }
    .nav-toggle-btn .open{
        display: block;
        font-size: 30px;
    }
}



/* --> ***************** <-- */






/* --> ***************** <-- */









